/*
DIV CLASSES
app = appetizers
salad = salades and low carb plates
pita = pitas
plate = signature plates
side = side dishes
dessert = desserts
top = back to top
reviewer = reviewer name and date

P CLASSES
about
awards

hours
address
*/

/*
COLOURS
petal   = #d4c7cc
wine    = #3C0017 = rgb(60,0,23)
stained = #704657 = rgb(112,70,87)
*/

/*-----------------------------GENERAL------------------------------*/

html{
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	box-sizing: border-box;
	font-size: 1em
}

*, *::before, *::after {
	box-sizing: inherit;
}


body{
	margin: 0;
}

img{
	width: 100%;
	padding: 0;
}

figure{
	margin: 0;
}

a{
	text-decoration: none;
	color: white;
	font-weight: 900;
	font-size: 2em;
}

p{
	line-height: 1.5em;
}
/*-----------------------------HEADER-------------------------------*/

header{
	background-color: #3C0017;
	color: white; 
	font-weight: 400;
	margin-bottom: 0;
}

h1{
	font-weight: 400;
	margin: 0;
	font-size: 1em;
	padding: 1em;
}

/*------------------------------BANNER------------------------------*/

.banner{
	padding-top: 7em;
	font-weight:  900;
	font-size: 2em;
	color: #3C0017;
	background-image: url("../images/olives.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	margin-bottom: -5.5em;
}
.banner p{
	position: relative;
	top: -8em;
	margin-left: 1em;
}

em{
	font-weight: 900italic;
}

/*------------------------------BUTTONS------------------------------*/


.phone{
	padding: .2em;
	text-align: center;
	margin: 0;
	background-color: #3C0017;
	color: white;
}
.map{
	padding: .2em;
	text-align: center;
	margin: 0;
	background-color: #704657;
	color: white;
}

/*------------------------------ABOUT------------------------------*/

.about{
	background-color: #3C0017;
	color: white;
	margin: 0;
	padding: 2em .7em;
	text-align: center;
}


/*------------------------------COURSES------------------------------*/

h3{
	background-color: #3C0017;
	padding: 0;
}

.course div{
	color: white;
}

figcaption{
	colour: white;
	opacity: .22;
}

figure{
	position: absolute;
}

figure div{
	font-weight: 400;
	font-size: 1rem;
}

h3{
	margin:  0;
	padding: 1em .5em 1em .5em;
	 
}

i{
	color: white;
}

/*------------------------------REVIEWS------------------------------*/

h4{
	font-size: 2em;
	background-color: #704657;
	color: white;
	margin: 0;
	padding: .5em;
	border-top: .5em solid #3C0017;;
}

.reviews{
	background-color: #d4c7cc;
	margin: 0;
	padding: 1em;
}

li{
	list-style-type:  none;
	color: #3C0017;
	line-height: 1.5em;
	margin-bottom: 1em;
}

strong{
	font-weight: 900;
}


.awards{
	background-color: #704657;
	color: white;
	margin: 0;
	padding-bottom: 1em;
	padding: 0 1em 1em 1em;
}























